@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="projects-section">
    <h4 class="head">LATEST PROJECTS<span class="line"></span></h4>
    <div class="latest-projects">
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p1.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p2.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p3.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p4.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p5.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p6.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p7.jpg" alt="" /></a>
        </div>
        <div class="col-md-3 project">
            <a href="single.html"><img src="/Content/images/p8.jpg" alt="" /></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
